auto-install-peers=true
save-exact=true
save-prefix=''
strict-peer-dependencies=false
engine-strict=true
enable-pre-post-scripts=true
ignore-scripts=false
public-hoist-pattern[]=*fsevents*
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*bigint-buffer*
public-hoist-pattern[]=*bufferutil*
public-hoist-pattern[]=*core-js-pure*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*keccak*
public-hoist-pattern[]=*utf-8-validate*
